<div class="jumbotron">
  <h1><%= t 'pages.home.what_is' %></h1>
  <p class="lead"><%= t 'pages.home.what_is_description' %></p>
  <p><%= link_to t('pages.home.start_now_button'), new_user_registration_path, class: 'btn btn-lg btn-success' %></p>
</div>

<div class="container marketing">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%= t 'pages.home.motivation' %></h2>
      <p class="lead"><%= t 'pages.home.motivation_description' %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag('motivation.jpg', class: 'featurette-image img-responsive center-block', alt: 'Motivation') %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading"><%= t 'pages.home.how_to_participate' %></h2>
      <p class="lead">
        <%= t 'pages.home.how_to_participate_description' %>
          <ul>
            <li><%= t 'pages.home.participate_being_mentor' %></li>
            <li><%= t 'pages.home.participate_developing_sites' %></li>
            <li><%= t 'pages.home.participate_giving_ideas' %></li>
          </ul>
      </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag('team.jpg', class: 'featurette-image img-responsive center-block', alt: 'Team') %>
    </div>
  </div>
</div>